# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      9
1  banana  medium      9
2  orange     low     11
3   apple    high     10
4  banana  medium      5
5  orange     low     14
6   apple    high      0
7  banana  medium      0
8  orange     low     11
    fruit weight  price
0   apple   high      7
1  orange    low      9
2    pine   high     11
3   apple    low      1
4  orange   high     11
5    pine    low      5

In [10]:
# - 依照 fruit 欄位做合併
pd.merge(df1,df2,on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        9     high        7
1    apple     high        9      low        1
2    apple     high       10     high        7
3    apple     high       10      low        1
4    apple     high        0     high        7
5    apple     high        0      low        1
6   orange      low       11      low        9
7   orange      low       11     high       11
8   orange      low       14      low        9
9   orange      low       14     high       11
10  orange      low       11      low        9
11  orange      low       11     high       11

In [9]:
# - 依照 index 索引做合併

pd.merge(df1,df2,on='index')

KeyError: 'index'

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

merge 有預設的方法是兩邊同時存在才會合併，只存在一邊的資料就不見了。

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

原本的欄位重複，導致無法正確合併。

In [11]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2') #lsuffix 左邊欄位名稱後面加贅字

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          9     apple       high        7.0
1    banana     medium          9    orange        low        9.0
2    orange        low         11      pine       high       11.0
3     apple       high         10     apple        low        1.0
4    banana     medium          5    orange       high       11.0
5    orange        low         14      pine        low        5.0
6     apple       high          0       NaN        NaN        NaN
7    banana     medium          0       NaN        NaN        NaN
8    orange        low         11       NaN        NaN        NaN